.carousel-control {
  display: inline-block;
  background: transparent;
  border: none;
  position: absolute;
  top: 42%;
  color: rgba(100, 100, 100);
  font-size: 60px;
  font-weight: 900;
  cursor: pointer;
}

.carousel-control:hover {
  opacity: 0.5;
}

.left {
  left: 15px;
}
.right {
  right: 15px;
}
