.carousel-item {
  grid-area: 1/2;
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.carousel-item img.fade {
  opacity: 1;
}
