.carousel {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100%;
}

.carousel-inner {
  white-space: nowrap;
}

.carousel-item {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}
